        IN SOA  nsd.sidnlabs.nl. hostmaster.sidnlabs.nl. (
                        0
                        3600
                        600
                        1814400
                        3600 )

        IN  A       94.198.159.25
        IN  AAAA    2a00:d78:4:503:94:198:159:25
        IN  TXT     "From DNSWB basic-zone template 1.1"
