        IN SOA  bind9.sidnlabs.nl. hostmaster.sidnlabs.nl. (
                        0
                        3600
                        600
                        1814400
                        3600 )

        IN  A       94.198.159.39
        IN  AAAA    2a00:d78:4:503:94:198:159:39
        IN  TXT     "From DNSWB basic-zone template 20190201"
